body {
  background-color: #404040;
}

#wrapper {
  width: 210px;
}

.cigarette {
  top: 132px;
  left: 160px;
  height: 10px;
  width: 160px;
  position: absolute;
  transform-style: preserve-3d; 
  transform: rotate(-4deg);
  z-index: 999;
}

.filter {
  float: left;
  background-color: #D29049;
  height: 100%;
  width: 10px;
  border-radius: 2px 0px 0px 2px;
}

.space {
  background-color: #FEF6ED;
  width: 3%;
  border-left: 1px solid #C2C0BE;
  border-right: 1px solid #C2C0BE;
  height: 100%;
  float: left;
}

.tobacco {
  height: 100%;
  width: 60px;
  background-color: #FEF6ED;
  float: left;
  border-radius: 0px 3px 3px 0;
}

.burn {
  display: none;
  width: 3%;
  height: 100%;
  margin-left: -2px;
  background-color: #EB9532;
  float:left;
  border-radius: 0px 3px 3px 0;
}

.btn-smoke, .btn-reset {
  margin-left: 10px;
  margin-top: 360px;
  border-radius: 3px;
  background: #6f6;
  display: inline-block;
  padding: 5px 10px;
  font-family: Helvetica;
  cursor: pointer;
}

.btn-smoke:hover, .btn-reset:hover {
  background: linear-gradient(#9f9, #6f6);
}

.btn-reset {
  display: none;
}

.human {
  float: left;
  overflow: hidden;
}
.human .head {
  width: 160px;
  height: 160px;
  background-color: rgb(246,208,166);
  border-radius: 50px;
  margin: 0;
  z-index: -9999;
  left: 30px;
  position: absolute
}

.human .head:after {
  content: "";
  position: absolute;
  top: 157px;
  left: 47px;
  width: 70px;
  z-index: 9999;
  height: 30px;
  background-color: rgb(246,208,166);
}

.mouth {
  position: absolute;
  left: 135px;
  top: 129px;
  background-color: black;
  width: 50px;
  height: 28px;
  border-radius: 8px 8px 5px 5px;
  overflow: hidden;
  z-index: 999;
}

.mouth:before {
  content: "";
  height: 4px;
  width: 40px;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 99;
  left: 6px;
  border-radius: 0px 0px 50px 50px;
}

.human .body {
  top: 180px;
  height: 200px;
  width: 210px;
  background-color: #F6D0A6;
  position: absolute;
  z-index: 9;
  border-radius: 30px 30px 10px 10px;
}

.trachea {
  top: -50px;
  height: 135px;
  left: 95px;
  width: 18px;
  background-color: WhiteSmoke;
  position: absolute;
  z-index: -9999;
  border-radius: 5px;
}

.trachealol {
  top: 130px;
  height: 15px;
  left: 105px;
  width: 40px;
  background-color: WhiteSmoke;
  position: absolute;
  z-index: -9999;
  border-radius: 5px;
}

.bronchus {
  top: 80px;
  height: 15px;
  left: 80px;
  width: 100px;
  background-color: WhiteSmoke;
  position: absolute;
  z-index: -9999;
  border-radius: 5px;
}

.lungs {
  top: 20px;
  height: 160px;
  left: 15px;
  width: 72px;
  background-color: #F17288;
  position: absolute;
  transition: .2s ease;
  z-index: -999;
  border-radius: 5px;
}

.right {
  left: 123px;
}

.poisoned {
  background-color: #8B5151;
  transform: rotate(2deg) scale(0.8);
}

.right.poisoned {
  background-color: #8B5151;
  transform: rotate(-7deg) scale(0.85)!important;
}

.smokeflow1 {
  top: 135px;
  height: 6px;
  left: 140px;
  width: 50px;
  background-color: #bebebe;
  position: absolute;
  z-index: 999;
}
.smokeflow2 {
  top: 135px;
  height: 0;
  left: 108px;
  width: 8px;
  background-color: #bebebe;
  position: absolute;
  z-index: 999;
}
.smokeflow3 {
  top: 84px;
  left: 101px;
  height: 8px;
  width: 0px;
  background-color: #bebebe;
  position: absolute;
  z-index: -9999;
}
.smokeflow4 {
  top: 84px;
  left: 101px;
  height: 8px;
  width: 0px;
  background-color: #bebebe;
  position: absolute;
  z-index: -9999;
}